@import url('https://fonts.googleapis.com/css?family=Lato:100,300,400');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body {
    /* background: #73C8A9;
    background: -webkit-linear-gradient(to right, #373B44, #73C8A9); 
    background: linear-gradient(to right, #373B44, #73C8A9);  */
    /* background: #2DA7B5; */
    /* background: -webkit-linear-gradient(to top, #2DA7B5 , #FFFCFC);
    background: -moz-linear-gradient(to top, #2DA7B5, #FFFCFC);
    background: linear-gradient(to top, #2DA7B5, #FFFCFC); */
    /* background: linear-gradient(to left,white, #1cceee); */
    /* background-color: #FBAB7E; */
    background-image: linear-gradient(to right, #FBAB7E 0%, #f7de9d 100%);

    font-family: 'Lato', sans-serif;
}

header {
    background-color: #ffffff;
    padding: 20px;
    text-align: center;
}

header h1 {
    color: #FBAB7E;
    text-align: center;
    font-size: 4rem;
    font-weight: 200;
    margin-bottom: 20px;
}

input, button {
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
    border-radius: 0;
    vertical-align: top;

}


#search-area, #filters {
    margin-bottom: 20px;
}

#search-input, #genre-select {
    border: none;
    height: 70px;
    width: 400px;
    /* padding-left: 40px; */
    border-radius: 35px 0 0 35px;
    color: rgb(110,110,110);
    font-size: 1.6rem;
    font-family: 'Lato', sans-serif;
    font-weight: 200;
    text-align: center;
    background-color:#f7de9d;
}

#search-button {
    text-align: center;
    border: none;
    height: 70px;
    width: 70px;
    background: #f7de9d;
    border-radius: 0 35px 35px 0;
    color: rgb(170, 170, 170);
    font-size: 1.4rem;
}

#search-button:hover {
    background-color: #3c3e41;
}

#genre-select {
    height: 70px;
    width: 250px; 
    border-radius: 35px;
    padding-left: 15px;
    font-size: 1.4rem;
    background: white;
    color: rgb(110, 110, 110);
}

#movies-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
    padding: 20px;
}

#movies-container div {
    padding: 10px;
    text-align: center;
}

#movies-container img {
    max-width: 100%;
    height: auto;
    border-radius: 15px;
}

@media screen and (max-width: 600px) {
    #search-input, #year-input, #genre-select, #search-button {
        width: 100%;
        margin: 10px 0;
    }

    #movies-container {
        grid-template-columns: 1fr;
    }
}

.movie img {
    width: 100%;
    height: auto;
    border-radius: 4px;
    cursor: pointer;
}

.modal {
    display: none; 
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
    justify-content: center;
    align-items: center;
}

.close-button {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 30px;
    font-weight: bold;
    cursor: pointer;
}


.movie-details-content {
    position: relative;
    display: flex;
    align-items: center; 
    justify-content: center; 
    background-color: rgba(36, 32, 32, 0.4);
    margin: auto;
    padding: 20px;
    border-radius: 10px;
    width: 60%;
}

#movie-poster {
    max-width: 50%;
    margin-right: 70px; 
}

.movie-synopsis {
    max-width: 40%; 
    text-align: left;
    color: white;
}


